button{
	border-radius: 5px;
	border-width: thin;
	font-family: 'Open Sans', sans-serif;
	color: white;
	width: 250px;
	height: 50px;
}

#insta{
	background-image: url("back.jpg");
}

#face{
	background-color: #4267B2;
	border-color: #4267B2;
}

#snap{
	background-color: #FFFC00;
	border-color: #FFFC00;
}

#git{
	background-color: Black;
	border-color: Black;
}

#tube{
	background-color: #FF0000;
	border-color: #FF0000;
}

h1{
	font-family: 'Open Sans', sans-serif;
	width: 300px;
}

h3{
	font-family: 'Open Sans', sans-serif;
}